#crystal1 {
    max-width: 100%;
}

#crystal2 {
    max-width: 100%;
}

#crystal3 {
    max-width: 100%;
}

#crystal4 {
    max-width: 100%;
}

.title {
    text-align: center;
}

.row {
    color: white;
}
